<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="mt-5">
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <img src="https://reviewedu.net/wp-content/uploads/2021/05/Logo-trangs.png" alt="..." class="img-thumbnail footer-logo">
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
        
                <div class="col-md-6 mb-md-0 mb-6 footer-info">
                    <p>© Copyright 2021 ReviewEdu. All Rights Reserved.</p>
                    <ul class="list-unstyled">
                        <li>
                            <p>Đơn vị chủ quản: Công ty Cổ phần Công nghệ Green House</p>
                        </li>
                        <li>
                            <p>Địa chỉ: 181-183 Quách Thị Trang - Hòa Xuân - Cẩm Lệ - TP. Đà Nẵng</p>
                        </li>
                        <li>
                            <p>Giấy phép số: Đang cấp phép</p>
                        </li>
                        <li>
                            <p>Website: ghouse.com.vn</p>
                        </li>
                        <li>
                            <p>Hotline:0862 868 608</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-3 footer-contact">
                    <h5>Liên hệ quảng cáo:</h5>
                    
                   <div class="footer-contact-item">
                    <i class="fas fa-phone-square-alt"></i>
                       <span>Hotline: 0862 868 608</span>
                   </div>
                   <div class="footer-contact-item">
                    <i class="fas fa-envelope-open"></i>
                       <span>Email: danang.ghouse@gmail.com</span>
                   </div>
                </div>
            </div>
            </div>
        </footer>
    </div>

</body>
</html>