<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-wrap">
        <a href="/" class="logo-link">
          <img src="https://reviewedu.net/wp-content/uploads/2021/05/review-edu-logo.jpg" alt="school-logo" class="nav-logo">
        </a>
        <div class="nav-list-wrap">
          <ul class="nav-list">
            <li class="nav-list-item">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Review Trường Học
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Trường học</a>
                  <a class="dropdown-item" href="#">Trường đại học && Học viện</a>
                  <a class="dropdown-item" href="#">Cao đẳng</a>
                  <a class="dropdown-item" href="#">Trung tâm</a>
                </div>
              </div>
            </li>
            <li class="nav-list-item">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Thông Tin Tuyển Sinh
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Tin tức</a>
                  <a class="dropdown-item" href="#">Ngành học</a>
                  <a class="dropdown-item" href="#">Khối thi</a>
                  <a class="dropdown-item" href="#">Lựa chọn ngành nghề</a>
                </div>
              </div>
            </li>
            <li class="nav-list-item">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tư Vấn Đại Học
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Tư vấn tuyển sinh 2021</a>
                  <a class="dropdown-item" href="#">Đặt hẹn tư vấn</a>
                </div>
              </div>
            </li>
            <li class="nav-list-item">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Review Du Học
                </button>
                <div class="dropdown-triangle"></div>
                <div class="dropdown-menu dropdown-wrap" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">
                    <ul class="list-group">
                      <li class="list-group-item active">Châu Á</li>
                      <li class="list-group-item">Trung quốc</li>
                      <li class="list-group-item">Nhật bản</li>
                      <li class="list-group-item">Hàn quốc</li>
                      <li class="list-group-item">Thái lan</li>
                    </ul>
                  </a>
                  <a class="dropdown-item" href="#">
                    <ul class="list-group">
                      <li class="list-group-item active">Châu Âu</li>
                      <li class="list-group-item">Anh</li>
                      <li class="list-group-item">Pháp</li>
                      <li class="list-group-item">Ba Lan</li>
                      <li class="list-group-item">Đức</li>
                      <li class="list-group-item">Pháp</li>
                      <li class="list-group-item">Thụy Sĩ</li>
                    </ul>
                  </a>
                  <a class="dropdown-item" href="#">
                    <ul class="list-group">
                      <li class="list-group-item active">Châu Úc</li>
                      <li class="list-group-item">Úc</li>
                      <li class="list-group-item">New Zealand</li>
                    </ul>
                  </a>
                  <a class="dropdown-item" href="#">
                    <ul class="list-group">
                      <li class="list-group-item active">Châu Mỹ</li>
                      <li class="list-group-item">Mỹ</li>
                      <li class="list-group-item">Canada</li>
                    </ul>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-list-item">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Thông tin liên hệ
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">SĐT: 092321736</a>
                  <a class="dropdown-item" href="#">Email: 123@gmail.com</a>
                </div>
              </div>
            </li>  
            <div class="nav-line"></div>
            <a class="btn btn-primary btn-create-school" href="/create" role="button">Thêm mới</a>
          </ul>
        </div>
    </div>
</nav>